*{
    padding: 0;
    margin: 0;
}
#head{
    display: flex;
    justify-content: space-around;
    background-color: #e1e4eb;
    height: 6vh;
    align-items: center;

}
#ehead {
    width: 20vw;

}
#ehead h1{
    color: green;
    font-size: 28px;
}
#ehead h1 span{
    color: red;
        font-size: 28px;
}
#null {
    width: 20vw;
}
#dhead {
    width: 30vw;
    margin-right: 2vw;
    display: flex;
    justify-content: space-between;
    gap: 1vw;
    cursor: pointer;

}
#dhead p{
    color: gray;;
}
#dhead p:hover{
    color: black;
}
#sicons {
    display: flex;
    justify-content: space-between;
    gap: 2vw;

}
#inicio {
    background-color: #e1e4eb;
    display: flex;
    justify-content: space-between;
    height: 40vh;
    align-items: center;
}
#einicio {
    margin-left: 25vw;
    display: flex;
    flex-direction: column;
}
#einicio h1 {
    font-size: 60px;
}
#divinicio{
    display: flex;
    margin-top: 1vh;
    color: gray;
}
#divinicio p:hover{
    color: black;
    cursor: pointer;
}
#imginicio {}

#sitep2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.oisom2{
    margin-top: 10vh;
    border: solid 1px green ;
    width: 3vw;
}
.oisom1 h1{
    font-size: 40px;
}
.oisom{
    width: 30vw;
}
.oisom p{
    text-align: center;
}