*{
    padding: 0;
    margin: 0;
}
#head{
    display: flex;
    justify-content: space-between;
    background-color: #e1e4eb;
    height: 5vh;

}
#ehead {
    width: 20vw;
    margin-left: 2vw;
    margin-top: 1vh;
}
#ehead h1{
    color: green;
}
#ehead h1 span{
    color: red;
}
#null {
    width: 20vw;
}
#dhead {
    width: 30vw;
    margin-right: 2vw;
    display: flex;
    justify-content: space-between;
    gap: 1vw;
    margin-top: 1vh;
}
#dhead p{
    color: gray;;
}
#dhead p:hover{
    color: black;
}
#sicons {
    display: flex;
    justify-content: space-between;
    gap: 2vw;
    margin-top: 0.3vh;
}